body {
    font-family: 'Poppins', sans-serif;
    margin: 5%;
}

h1 {
    font-size: 60px;
}

.colour {
    color: forestgreen;
}

section {
    display: flex;
}

.link {
    display: inline-block;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px 5px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient( green, gray);
}

p {
    font-size: 20px;
}

.text1 {
    width: 100%;
    padding-left: 0%;
}

.picture1 img {
    width: 100%;
    padding-right: 50%;
}

.section2 {
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0%;
    width: 100%;
    height: 730px;
}

.picture2 img {
    width: 100%;
    padding-left: 20%;
    padding-top: 20%;
}

.section1 {
    width: 100%;
    height: 900px;
}

.text2 {
    width: 100%;
    padding-left: 40%;
    padding-top: 10%;
}

.section3 {
    width: 100%;
    height: 900px;
    padding-top: 20%;
}

.pic img {
    width: 90%;
}

h2 {
    text-align: center;
    padding-top: 20%;
    font-size: 40px;
    color: gray;
}

.header3 {
    text-align: center;
    width: 33%;
    padding-left: 33%;
}

h3 {
    font-size: 30px;
}